@using Sandbox;
@using Sandbox.UI;
@namespace MenuProject.AvatarEditor

<root>

	<div class="body-left">
		<div class="title">Workshop</div>
		<div class="subtitle">You can preview community created cosmetic items from the workshop. You can use the voting and review features to help us decide which items we should add to the store.</div>

		<FormRow Label="Preview Model">
			<Content>

				<ButtonGroup Value:bind="@Manager.CitizenActive" class="bg-round">
					<ChildContent>
						<Button Text="Human" Value="@false"></Button>
						<Button Text="Citizen" Value="@true"></Button>
					</ChildContent>
				</ButtonGroup>

			</Content>
		</FormRow>    
	</div>

	<div class="body-center">

	</div>

	<div class="body-right">

		<div class="body-content @( SelectedPackage is null ? "active" : "hidden" )">
			<WorkshopPackageList></WorkshopPackageList>
		</div>

		@if (SelectedPackage is not null )
		{
			<div class="body-content">
				<WorkshopPackageDetail Ident="@SelectedPackage.FullIdent"></WorkshopPackageDetail>
			</div>
		}

	</div>

</root>

@code
{
	Package SelectedPackage;
	AvatarEditManager Manager => Scene.GetAll<AvatarEditManager>().First();

	public void OnPackageSelected( Package package )
	{
		if ( SelectedPackage == package )
			return;

		SelectedPackage = package;
		Manager.PreviewPackage(package);

		StateHasChanged();
	}
}
