@namespace Sandbox.UI.Dev.Stats
@inherits Panel

<root class="statbox"> 

	<title>Network Stats</title>
	
	@{
		var hostConnection = Connection.Host;
		var peerConnections = Connection.All.Where( c => c != Connection.Local && c != hostConnection ).ToArray();
		
		var totalBytesIn = 0f;
		var totalBytesOut = 0f;
		var totalPacketsIn = 0f;
		var totalPacketsOut = 0f;
		
		if ( hostConnection is not null )
		{
			var stats = hostConnection.Stats;
			totalBytesIn += stats.InBytesPerSecond;
			totalBytesOut += stats.OutBytesPerSecond;
			totalPacketsIn += stats.InPacketsPerSecond;
			totalPacketsOut += stats.OutPacketsPerSecond;
		}

		foreach ( var c in peerConnections )
		{
			var stats = c.Stats;
			totalBytesIn += stats.InBytesPerSecond;
			totalBytesOut += stats.OutBytesPerSecond;
			totalPacketsIn += stats.InPacketsPerSecond;
			totalPacketsOut += stats.OutPacketsPerSecond;
		}

		var peerCount = peerConnections.Length;
		if ( hostConnection is not null && hostConnection != Connection.Local )
			peerCount++;
	}

	<StatValue Value="@peerCount.ToString()" Title="Peers"></StatValue>
	<StatValue Value="@((totalBytesIn / 1024f).ToString( "0.00" ))" Title="KB In Per Second"></StatValue>
	<StatValue Value="@((totalBytesOut / 1024f).ToString( "0.00" ))" Title="KB Out Per Second"></StatValue>
	<StatValue Value="@totalPacketsIn.ToString( "0.00" )" Title="Packets In Per Second"></StatValue>
	<StatValue Value="@totalPacketsOut.ToString( "0.00" )" Title="Packets Out Per Second"></StatValue>
</root>


@code
{
    protected override int BuildHash() => HashCode.Combine( DateTime.UtcNow.Second );
}
